<div id="footer">
    <footer class="py-5 border-top border-secondary">
        <div class="row justify-content-between ps-5 pe-5" id="footerDiv">    
            <div class="col-6 col-md-2 mb-3 opciones">
            <h5>Ayuda</h5>
            <ul class="nav flex-column ">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contacto</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Envíos</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Devoluciones</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            </ul>
            </div>
    
            <div class="col-6 col-md-2 mb-3 opciones">
            <h5>Legal</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Política de privacidad</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Términos y condiciones</a></li>
            </ul>
            </div>
    
            <div class="col-md-5 offset-md-1 mb-3" id="newsletter">
            <form>
                <h5>Suscríbete a nuestro newsletter</h5>
                <p>Resumen mensual de lo que es nuevo y emocionante de nosotros.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="email@email.com">
                <button class="btn btn-primary" type="button">Suscribirse</button>
                </div>
            </form>
            </div>
        </div>
    </footer>
</div>