/* Tabla de monedas favoritas */

#tableFavoriteCoins {
    width: 84vw;
    margin: 0 auto;
    margin-top: 3em;
    border-collapse: collapse;
    margin-bottom: 3em;
    background-color: rgba(0, 0, 0, 0.752);
    padding: 2em;
    border-radius: 5px;
}

.table {
    color: white;
}


.table th {
    background-color: #000000;
    color: white;
}

.table th,
.table td{
    padding: 0.75rem;
    text-align: center;
    border: 1px solid white;

}

.table td{
    border-bottom: 1px solid #000000;
    background-color: #4a4a4ac1;
    color: white;

}

.table .imgCoin {
    width: 2em;
}

.trashIcon{
    color: #e91b0c;
}
.infoIcon{
    color: #1D6DDD;

}

.trashIcon,
.infoIcon {
    font-size: 1.5em;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.trashIcon:hover,
.infoIcon:hover {
    filter: brightness(1.2);
    scale: 1.1;
}

.lastTd {
    margin: 0 auto;
    text-align: center;
}

.textoTabla{
    color: black;
    font-style: italic;
}

.tbodyCuerpoPortfolio{
    background-color: #000000;
    color: white;
}
