<div class="container-fluid">
    <!-- Intro Section -->
    <div class="row align-items-center crypto-section">
        <div class="col-lg-6 text-center text-lg-start">
            <h2 class="display-4">Sumérgete en CryptCoins!</h2>
            <p class="lead">CryptCoins es la mejor plataforma para estar al tanto sobre infinidad de criptomonedas y acceder a sus datos en profundidad. !Únete a nosotros y explora todo lo que quieras!</p>
            <div class="mt-4 botonesA">
                <a href="#features" class="btn btn-outline-dark btn-lg me-2"><i class="fas fa-arrow-right"></i> Características</a>
                <a href="#get-started" class="btn btn-primary btn-lg">Comenzar</a>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
            <img src="https://images.pexels.com/photos/844124/pexels-photo-844124.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="CryptoMonedas" class="img-fluid crypto-img">
        </div>
    </div>

    <!-- Features Section -->
    <div class="row crypto-section" id="features">
        <div class="col-lg-4 text-center">
            <i class="fas fa-shield-alt feature-icon"></i>
            <h3 class="feature-heading">Seguridad total</h3>
            <p class="feature-text">Investiga e invierte con total seguridad, evitando estafas y robo de datos sin preocupación alguna.</p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fas fa-chart-line feature-icon"></i>
            <h3 class="feature-heading">Estadísticas en vivo</h3>
            <p class="feature-text">Estate informado con estadísticas en vivo y gráficas de cada criptomoneda</p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fas fa-wallet feature-icon"></i>
            <h3 class="feature-heading">Interfaz intuitiva</h3>
            <p class="feature-text">Maneja tu cripto portolio sencillamente gracias a nuestra fácil interfaz para el usuario</p>
        </div>
    </div>

    <!-- Call to Action Section -->
    <div class="row align-items-center crypto-section" id="get-started">
        <div class="col-lg-6 text-center text-lg-start">
            <h2 class="display-4">¿Estás listo para comenzar?</h2>
            <p class="lead">Únete a CryptCoins y podrás empezar tu viaje en el inmenso mundo de las criptomonedas</p>
            <div class="mt-4 botonesA">
                <a routerLink="/registro" class="btn btn-primary btn-lg">Crear una cuenta</a>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
            <img src="https://img.freepik.com/fotos-premium/grafico-precios-criptomonedas-bitcoin-cayendo-subiendo-mercado-digital_130265-10322.jpg" alt="Get Started" class="img-fluid crypto-img">
        </div>
    </div>
</div>